<%= simple_form_for(@child) do |f| %>
  <!--<%= f.error_notification %>-->

  <div class="form-inputs">
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <!--= f.input :age, as: :hidden %>-->
    <%= f.input :grade %>
    <%= f.input :gender, collection: ["Male", "Female"] %>
    <%= f.association :group %>
    <p>
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#children">Contacts</a>

        <div id="children" class="content">
          <%= f.association :contacts, as: :check_boxes, collection: Contact.all.order(:last_name).to_a, :label_method => lambda { |child| "#{child.last_name}, #{child.first_name}" } %>
        </div>
      </li>
    </ul>
    </p>

    <%= f.input :dob, as: :date, start_year: Date.today.year - 25,
                end_year: Date.today.year %>
    <%= f.input :allergies %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
