  <a href="#" data-reveal-id="childModal" class="button right">Add Child</a>

<div class="row">
  <div id="childModal" class="reveal-modal" data-reveal aria-labelledby="Add Child" aria-hidden="true" role="dialog">

    <h1>
      <small>
        Add Child
      </small>

    </h1>
    <a href="#" data-reveal-id="importModal" class="right">Import xlsx</a>
    <%= simple_form_for(Child.new) do |f| %>
        <!--<%= f.error_notification %>-->

        <div class="form-inputs">
          <%= f.input :last_name %>
          <%= f.input :first_name %>
          <!--<%= f.input :age %>-->
          <%= f.input :grade %>
          <%= f.input :gender, collection: ["Male", "Female"] %>
          <%= f.association :group %>
          <%= f.input :dob, as: :date, start_year: Date.today.year - 20,
                      end_year: Date.today.year - 3 %>

          <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
              <a href="#children">Contacts</a>

              <div id="children" class="content">
                <%= f.association :contacts, as: :check_boxes, collection: Contact.all.order(:last_name).to_a, :label_method => lambda { |child| "#{child.last_name}, #{child.first_name}" } %>
              </div>
            </li>
          </ul>

          <%= f.input :allergies %>
        </div>


        <div class="form-actions">
          <%= f.button :submit %>
        </div>
    <% end %>


    <a class="close-reveal-modal" aria-label="Close">&#215</a>
  </div>
  <div id="importModal" class="reveal-modal" data-reveal aria-labelledby="Import xlsx" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215</a>
    <h3>Import Children</h3>
    <%= form_tag import_children_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Upload", :class => 'button' %>
    <% end %>
  </div>
</div>