<% if administrator %>

    <% if warning_facet(Child).any? %>
        <div data-alert class="alert-box alert">
          <% warning_facet(Child).each do |child| %>

              No authorized pickups found:
              <%= link_to("#{child[:last_name]}, #{child[:first_name]}", child_path(child[:link]), :class => "alert-link") %>
              <br>
          <% end %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>

    <% if warning_facet(Child, "warning").any? %>
        <div data-alert class="alert-box warning">
          <% warning_facet(Child, "warning").each do |child| %>

              One authorized pickup found:
              <%= link_to("#{child[:last_name]}, #{child[:first_name]}", child_path(child[:link]), :class => "alert-link") %>
              <br>
          <% end %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
<% end %>



<a href="#" data-reveal-id="searchModal">Search</a>
<div id="searchModal" class="reveal-modal" data-reveal aria-labelledby="Search" aria-hidden="true" role="dialog">
  <h3>
    <small>
      Search
    </small>
  </h3>
  <div class="row">
    <%= search_form_for @q do |f| %>
        <!--&lt;!&ndash;= f.label :last_name_or_first_name_cont %>-->
        <div class="row collapse">
          <div class="small-10 columns">
            <%= f.search_field :last_name_or_first_name_cont, :placeholder => "Search first or last name" %>
          </div>
          <div class="small-2 columns">
            <%= f.button :class => "button postfix" do %>
                <div class="fa fa-search fa-lg"></div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<h1 class="row">Listing Children
  <%= render 'modal' %>
</h1>

<!--= link_to 'Download Pdf', format: :pdf %>-->


<br>
<%= link_to 'Download CSV', children_path(format: :csv), :class => "right" %>
<br>
<table class="show-for-medium-up">
  <thead>
  <tr>
    <th><%= sort_link @q, :last_name, "Last Name" %></th>
    <th><%= sort_link @q, :first_name, "First Name" %></th>
    <th><%= sort_link @q, :age, "Age" %></th>
    <th><%= sort_link @q, :grade, "Grade" %></th>
    <th><%= sort_link @q, :gender, "Gender" %></th>
    <th><%= sort_link @q, :group_id, "Group" %></th>
    <th>Contacts</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @children.each do |child| %>
      <tr>
        <td><%= child.last_name %></td>
        <td><%= child.first_name %></td>
        <td><%= child.age %></td>
        <td><%= child.grade %></td>
        <td><%= child.gender %></td>
        <td><%= child.group_id %></td>
        <%= simple_format(contact_check(child, 'td')) %>
        <td><%= link_to 'Show', child %></td>
        <td><%= link_to 'Edit', edit_child_path(child) %></td>
        <td><%= link_to 'Delete', child, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<div class="show-for-small-only">

  <div><%= sort_link @q, :last_name, "Last Name" %> |
    <%= sort_link @q, :first_name, "First Name" %></div>
  <br>
  <% @children.each do |child| %>
      <div class="panel">
        <!--<span class="label round right">-->
        <!--<th><%= child.contacts.count %></th>-->
        <%= simple_format(contact_check(child, 'span', 'right')) %>
        <!--</span>-->
        <td><%= child.last_name %></td>
        ,
        <td><%= child.first_name %></td>
        <br>
        <td><%= link_to 'Show', child %></td>
        |
        <td><%= link_to 'Edit', edit_child_path(child) %></td>
        |
        <td><%= link_to 'Delete', child, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </div>
  <% end %>
</div>



