<%- @kids = Child.all.order(:group_id, :last_name) %>
<%- headers = ['id','last_name', 'first_name', 'age', 'grade', 'gender', 'group_id', 'allergies', 'dob'] -%>
<%= CSV.generate_line headers %>
<%- @kids.each do |child| -%>
    <%= CSV.generate_line([child.id, child.last_name, child.first_name, child.age, child.grade, child.gender, child.group_id, child.allergies, child.dob]) %>
<%- end -%>