<div class="right">
  <%= link_to 'Edit', edit_child_path(@child) %> |
  <%= link_to 'Back', children_path %>
</div>

<p>
  <strong>Last name:</strong>
  <%= @child.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @child.age %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @child.grade %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @child.gender %>
</p>
<p>
  <strong>Group:</strong>
  <%= @child.group.name %>
</p>
<p>
  <strong>Date of Birth:</strong>
  <% if @child.dob %>
      <%= @child.dob.strftime("%b, %e, %Y") %>
  <% end %>
</p>
<p>
  <strong>Allergies:</strong>
  <%= @child.allergies %>
</p>
<br>
<p>

  <strong>Authorized Pickups:</strong>
</p>
<p>


  <% @child.contacts.each do |contact| %>
      <% if !contact.emergency_contact %>
        <p>
        <div class="right">
          <%= link_to "show", contact %> |
          <%= link_to "edit", edit_contact_path(contact) %>
        </div>
        <%= contact.last_name.titleize %>,
        <%= contact.first_name.titleize %> |
        <a href="tel:<%= number_to_phone(contact.phone) %>">
          <%= number_to_phone(contact.phone) %>
        </a>
        </p>

    <% end %>
<% end %>
<br>
<p>
  <strong>
    Emergency Contacts:
  </strong>
</p>
<% @child.contacts.each do |contact| %>

    <% if contact.emergency_contact %>
        <p>
        <div class="right">
          <%= link_to "show", contact %> |
          <%= link_to "edit", edit_contact_path(contact) %>
        </div>
        <%= contact.last_name.titleize %>,
        <%= contact.first_name.titleize %> |
        <a href="tel:<%= number_to_phone(contact.phone) %>">
          <%= number_to_phone(contact.phone) %>
        </a>


        </p>
    <% end %>
<% end %>
</p>



