<%= simple_form_for(@group) do |f| %>
  <!--<%= f.error_notification %>-->

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :color %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
