<div class="right">
  <%= link_to 'Download Groups Pdf', format: :pdf %>
</div>
<h1>Listing Groups</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Count</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |group| %>
      <tr>
        <td style="color: #<%= group.color %>"><%= group.name %></td>
        <td style="color: #<%= group.color %>"><%= group.color %></td>
        <td>
          <span class="label round">
          <%= group.children.count %>
              </span>
        </td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
