


<% @group.children.group(:gender).count.each do |key, val| %>
    <span class="info label right">
    <%= key %>
      <%= val %>
    </span>
<% end %>
<br>

<div class="right">
<%= link_to 'Download Pdf', format: :pdf %>
</div>
<h1 style="color: #<%= @group.color %>">
  <!--<strong>Name:</strong>-->
  <%= @group.name %>
</h1>




<p>
  <% @children.each do |child| %>
    <p>
      <%= child.last_name %>,
      <%= child.first_name %>
      <%= link_to "show", child %> | <%= link_to "edit", edit_child_path(child) %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
