<%= simple_form_for(@event) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <fieldset>
      <legend>Start Datetime</legend>
      <%= f.input :start, label: false %>
    </fieldset>
    <fieldset>
      <legend>End Datetime</legend>
      <%= f.input :end, label: false %>
    </fieldset>
    <%= f.input :price %>
    <%= f.input :groups %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
