<%= link_to 'New Event', new_event_path, class: "right" %>
<h1>Listing Events</h1>



<div class="row" data-equalizer>
  <% @events.each do |event| %>

      <div class="medium-4 large-3 columns" data-equalizer-watch>

        <div class="panel">
          <h4>
            <small class="right">
              <%= event.start.to_formatted_s(:long) %>
            </small>
            <br>
            <small class="right">
              <%= duration(event) %>
            </small>
          </h4>
          <h3>
            <small>
              <%= event.name %>
            </small>
          </h3>

          <!--<br>-->
          <!--<br>-->
          <div class="row">
            <h3 class="right">
              <small>
                <%= number_to_currency(event.price) %>
              </small>
            </h3>
          </div>

          <p>
            <%= event.groups %>
          </p>

          <p>
            <%= event.notes %>
          </p>
          <br>
          <%= link_to 'Show', event, class: "button expand" %>
        </div>
      </div>
  <% end %>
</div>
