<%= simple_form_for(@contact) do |f| %>

    <!--<div class="form-inputs">-->
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :emergency_contact %>
    <%= f.input :phone %>
    <%= f.input :email %>

    <ul class="accordion small-11 columns" data-accordion>
      <li class="accordion-navigation">
        <a href="#children">Children</a>

        <div id="children" class="content">
          <%= f.association :children, as: :check_boxes, collection: Child.all.order(:last_name).to_a, label: false, :label_method => lambda { |child| "#{child.last_name}, #{child.first_name}" } %>
        </div>
      </li>
    </ul>
    <br>

    <!--</div>-->

    <div class="form-actions">
      <br>
      <%= f.button :submit %>
    </div>
<% end %>
