<% if administrator %>
    <% if warning_facet(Contact).any? %>
        <div data-alert class="alert-box alert">
          <% warning_facet(Contact).each do |contact| %>

              No children found:
              <%= link_to("#{contact[:last_name]}, #{contact[:first_name]}", contact_path(contact[:link]), :class => "alert-link") %>
              <br>
          <% end %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
<% end %>

<% if administrator %>
    <% if duplicate_check(Contact).any? %>
        <div data-alert class="alert-box warning">
          <% duplicate_check(Contact).each do |contact| %>
              Duplicate found:
              <%= link_to("#{contact.last_name}, #{contact.first_name}", contacts_path(q: {last_name_eq: "#{contact.last_name}", first_name_eq: "#{contact.first_name}"}), :class => "alert-link") %>
              <br>
          <% end %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
<% end %>

<a href="#" data-reveal-id="searchModal">Search</a>
<div id="searchModal" class="reveal-modal" data-reveal aria-labelledby="Search" aria-hidden="true" role="dialog">
  <h3>
    <small class="right">
      Search
    </small>
  </h3>
  <div class="row">
    <%= search_form_for @q do |f| %>
        <!--&lt;!&ndash;= f.label :last_name_or_first_name_cont %>-->
        <div class="row collapse">
          <div class="small-10 columns">
            <%= f.search_field :last_name_or_first_name_cont, :placeholder => "Search first or last name" %>
          </div>
          <div class="small-2 columns">
            <%= f.button :class => "button postfix" do %>
                <div class="fa fa-search fa-lg"></div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<h1>Listing Contacts</h1>

<table class="show-for-medium-up">
  <thead>
  <tr>

    <th><%= sort_link @q, :first_name, "First Name" %></th>
    <th><%= sort_link @q, :last_name, "Last Name" %></th>
    <th><%= sort_link @q, :phone, "Phone" %></th>
    <th><%= sort_link @q, :email, "Email" %></th>
    <th>Children</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>

      <tr>

        <td><%= contact.first_name.titleize %></td>
        <td><%= contact.last_name.titleize %></td>
        <td>
          <a href="tel:<%= number_to_phone(contact.phone) %>" class="right">
            <%= number_to_phone(contact.phone) %>
          </a>
        </td>
        <td><%= contact.email %></td>
        <!--<td>-->
        <!--<span class="label round right">-->
        <%= simple_format(child_check(contact, "td")) %>
        <!--</span>-->
        <!--</td>-->
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<div class="show-for-small-only">
  <!--<div class="small-11 small-centered columns">-->
  <div><%= sort_link @q, :first_name, "First Name" %> |
    <%= sort_link @q, :last_name, "Last Name" %></div>
  <br>
  <% @contacts.each do |contact| %>

      <div class="panel">
        <!--<span class="label round right">-->
        <!--<%= contact.children.count %>-->
        <!--</span>-->
        <%= simple_format(child_check(contact, "span", "right")) %>
        <p class="fn"><%= "#{contact.last_name.titleize}, #{contact.first_name.titleize}" %></p>

        <p class="email">
          <%= contact.email %>
        </p>

        <p class="phone"><a href="tel:<%= number_to_phone(contact.phone) %>" class="right">
          <%= number_to_phone(contact.phone) %>
        </a>
        </p>

        <br>
        <td><%= link_to 'Show', contact %></td>
        |
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        |
        <td><%= link_to 'Delete', contact, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </div>
      <!--</div>-->
  <% end %>
</div>

<%= link_to 'New Contact', new_contact_path %>
