<p>
  <% if @contact.emergency_contact == true %>
      <strong>Emergency Contact</strong>
  <% end %>
</p>
<p>
  <strong>First name:</strong>
  <%= @contact.first_name.titleize %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name.titleize %>
</p>


<p>
  <strong>Phone:</strong>
  <a href="tel:<%= number_to_phone(@contact.phone) %>">
    <%= number_to_phone(@contact.phone) %>
  </a>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Children:</strong>
</p>
<% @contact.children.each do |child| %>
<p>
  <%= child.last_name %>,
  <%= child.first_name %>
  <%= link_to "show", child %> |
  <%= link_to "edit", edit_child_path(child) %>
</p>
      <!--<br>-->
<% end %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
