<%= simple_form_for @attendance, :html => {:class => 'signature_form'} do |f| %>

    <%= f.association :child %>
    <%= f.input :out, :label => "Sign In?" %>
    <%= f.input :signature %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.button :submit %>
<% end %>
