<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @attendance.contact_id %>
</p>

<p>
  <strong>Child:</strong>
  <%= @attendance.child_id %>
</p>

<p>
  <strong>Out:</strong>
  <%= @attendance.out %>
</p>

<p>
  <strong>Youth Coordinator:</strong>
  <!--<br>-->
  <%= @user.first_name %>
  <%= @user.last_name %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @attendance.signature %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
