<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#">
      <span></span>
    </a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title">MMMC</h1>
  </section>
</nav>
<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>Groups</label></li>
    <li class="has-submenu">

      <a href="#">Groups</a>
      <ul class="left-submenu">
        <li class="back"><a href="#">Back</a></li>
        <li>
          <%= link_to "Show All Groups", groups_path %>
        </li>
        <li>
          <%= link_to "New Group", new_group_path %>
        </li>
        <li><label>Groups</label></li>
        <% group_links.each do |link| %>
            <%= link_to link.name, group_path(link) %>
        <% end %>
      </ul>
    </li>
    <li><label>Kiddos infos</label></li>
    <li>
      <%= link_to "Children", children_path %>
    </li>
    <li>
      <%= link_to "New Child", new_child_path %>
    </li>
    <li><label>Contacts</label></li>
    <li>
      <%= link_to "Contacts", contacts_path %>
    </li>
    <li>
      <%= link_to "New Contact", new_contact_path %>
    </li>
    <li>
      <label>Events</label>
    </li>
    <li>
      <%= link_to "Show Events", events_path %>
    </li>
    <li>
      <label>User</label>
    </li>

    <% if user_signed_in? %>
        <li>
          <%= link_to(destroy_user_session_path, :method => :delete) do %>
              Log Out
          <% end %>
        </li>
        <li>
          <%= link_to(edit_user_registration_path(user_session)) do %>
              Edit User
          <% end %>
        </li>
        <% if administrator %>
            <li>
              <%= link_to admin_root_path do %>
                  Admin
              <% end %>
            </li>
        <% end %>
    <% else %>
        <li>
          <%= link_to new_user_session_path do %>
              Log In
          <% end %>
        </li>

    <% end %>
    <!--<li>-->
    <!--<%= link_to "Attendance", new_attendance_path %>-->
    <!--</li>-->
  </ul>
</aside>
